@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
* {
  margin: 0px;
  padding: 0px;
}    
body {
  margin: 0;
}
.header {
  text-align: center;
  background-color: #f2f3f7;
  margin-top: 0;
}
.background {
  width: 980px;
  height: 832px;
  position: relative;
  background-image: url(./images/main_image.png);
  margin: 0 auto;
  background-size: contain;
  background-repeat: no-repeat;
}
.header_box {
  width: 974px;
  height: 77px;
  right: 50px;
  position: absolute;
  background-color: #ffffff;
  top: 57px;
  display: flex;
  justify-content: space-between;
  box-shadow: 3px 3px 3px rgb(170, 169, 169);
}
.logo {
  width: 200px;
  display: flex;
  align-items: center;
  padding-left: 37px;
}
.nav-list {
  list-style: none;
  position: relative;
  display: flex;
  font-family: 'Noto Sans JP', sans-serif;
  justify-content: space-around;
  font-size: 14px;
  width: 730px;
}
a{
  text-decoration:none;
  color: #000;
}
a:hover{
  color: blue;
}
.menu_jp {
  position: relative;
  font-size: 10px;
  color: #777;
}

.nav-item > span {
  display: flex;
  flex-direction: column;
}

.nav-item {
  display: flex;
  align-items: center;
}
/* 縦線をつける */
.nav-item::after {
  position: relative;
  left: 20px; 
  content: '';
  border-right: 1px solid #000;
  height: 10px;
  width: 30px;
}
/* 縦線の最後を消す */
.nav-item:last-child::after {
  content: '';
  border: none;
}
.title{
    position: relative;
    list-style: none;
    color: #D4004E;
    top: 214px;
    right: 90px;
}
.title_big{
    font-size: 76px;
    text-align: left;
    font-family: 'Helvetica';
    line-height: 1;
    padding-top: 20px;
}
.title_small{
    font-size: 16px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 500;
    position: relative;
    right: 350px;
    top: 40px;
}
.scroll{
    position: absolute;
    font-family: 'Inter';
    font-size: 12px;
    font-weight: 400;
    color: #E00052;
    top: 783px;
    left: 450px;
}
/* main */
h2{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 43px;
    position: relative;
    margin-left: 215px;
    margin-top: 120px;
    z-index: 2;
}
h2::before{
    position: relative;
    content: url(./images/mark.png);
    margin-right: 24px;
    top: 15px;
}
.gray{
    position:relative;
    background-color: #f2f3f7;
    width: 953px;
    height: 282px;
    margin-left: 240px;
    bottom: 35px;
    z-index: 1;
}
.p_gray{
    margin-left: 63px;
    padding-top: 70px;
    line-height: 2;
}
.btn_info{
    position: relative;
    padding: 10px 53px 10px 53px;
    background: #D4004E;
    color: #FFF;
    font-size: 13px;
    margin-left: 370px;
    top: 70px;
}
/* science,iot */
.info_left{
    position: relative;
    margin-top: 72px;
    margin-left: 210px;
    display: flex;
}
.info_left_text{
    position: relative;
    margin-top: 30px;
    margin-left: 95px;
    color: #D4004E;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 20px;
    font-weight: 700;
}
.p_info{
    position:relative;
    margin-top: 38px;
    margin-left: auto;
    color: #000;
    font-size: 13px;
    font-weight: 700;
}
.btn_info_2{
    position: relative;
    top: 63px;
    left: 105px;
    padding: 10px 45px 10px 45px;
    background: #D4004E;
    color: #FFF;
    font-size: 13px;
}
/* education,unkobotan */
.info_right{
    position: relative;
    display: flex;
    margin-top: 75px;
}
.info_right_text{
    position: relative;
    color: #D4004E;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 20px;
    margin-top: 25px;
    left: 260px;
    font-weight: 700;
}
.img_right{
    position: relative;
    margin-left: 345px;
}
/* ニュース */
.news{
    position: relative;
    bottom: 30px;
}
.gray_box{
    position: relative;
    z-index: 1;
    background-color: #f2f3f7;
    width: 954px;
    height: 86px;
    margin-left: 240px;
    margin-bottom: 12px;
}
.color_box{
    position: relative;
    width: fit-content;
    text-align: center;
    top: 33px;
    margin-left: 20px;
    padding: 3.5px 6.5px 3.5px 9.5px;
    border: 1px solid #E5A31C;
    color: #E5A31C;
    font-family: 'Hiragino Sans';
    font-size: 12px;
}
.p_news{
    position: relative;
    display: flex;
    width: 100%;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 13px;
    left: 120px;
    margin-top: 10px;
    margin-left: 80px;
}
.p_news_right{
    margin-left: 66px;
}
.p_news_right::before{
    position:absolute;
    left: 70px;
    content: '';
    border-right: 1px solid #000;
    height: 20px;
    width: 30px;
  }  
.color_box_144{
    position: relative;
    width: fit-content;
    text-align: center;
    top: 33px;
    margin-left: 20px;
    padding: 3.5px 57px 3.5px 57px;
    border: 1px solid #D4004E;
    color: #D4004E;
    font-family: 'Hiragino Sans';
    font-size: 12px;
}
.color_box_science{
    position: relative;
    width: fit-content;
    text-align: center;
    top: 33px;
    margin-left: 20px;
    padding: 3.5px 25.5px 3.5px 25.5px;
    border: 1px solid #5FA153;
    color: #5FA153;
    font-family: 'Hiragino Sans';
    font-size: 12px;
}
.color_box_unko{
    position: relative;
    width: fit-content;
    text-align: center;
    top: 33px;
    margin-left: 20px;
    padding: 3.5px 42.5px 3.5px 43.5px;
    border: 1px solid #50BBF4;
    color: #50BBF4;
    font-family: 'Hiragino Sans';
    font-size: 12px;
}
.btn_info_3{
    position: relative;
    margin-left: 650px;
    padding: 10px 45px 10px 45px;
    background: #D4004E;
    color: #FFF;
    font-size: 13px;
}
/* footer */
footer{
    background-color: #333333;
    position: relative;
    margin-top: 98px;
    width: 100%;
    height: 261px;
    color: #ffffff;
    font-size: 9px;
}
.nav-list_footer{
    list-style: none;
    position: relative;
    display: flex;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 500;
    justify-content: space-around;
    font-size: 10px;
    color:white;
    width: 730px;
    margin-left: 400px;
    top: 85px;
}  
.nav-item_footer{
    display: flex;
    align-items: center;
}
.nav-item_footer::after{
    position: relative;
    margin-left: 20px; 
    content: '';
    border-right: 1px solid #ffffff;
    height: 10px;
    width: 30px;
  }
.nav-item_footer:last-child::after {
    content: '';
    border: none;
}
.footer_menu{
    color: #ffffff;
}
.btn_info_4{
    position: relative;
    padding: 10px 45px 10px 45px;
    background: #ffffff;
    color: #000;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    font-size: 13px;
    top: 140px;
    margin-left: 600px;
}
small{
    position: relative;
    top: 209px;
    right: 210px;
}